.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 7rem auto 0 auto;

  form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-size: 0.85rem;
        color: var(--text);
      }

      input {
        height: 40px;
        width: 100%;
        padding: 0 0.5rem;
        font-size: 1rem;
        background-color: var(--surface);
        color: var(--text);
      }
    }

    button {
      width: 150px;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: var(--primary);
      color: var(--surface);
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin-top: 1rem;
    padding: 0 0.25rem;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .5rem;

      div {
        display: flex;
        align-items: center;
        gap: .5rem;

        input {
            height: 1rem;
            width: 1rem;
            accent-color: var(--accent);
          }
        
          label {
            font-size: 1.2rem;
            color: var(--text);
          }
      }

      button {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: transparent;
        color: var(--accent);
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        min-width: 30px;
      }    
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 5rem auto 0 auto;
  }
}

.done {
  text-decoration: line-through;
}
