.header {
  background-color: #615458;
  color: #fff;
  padding-top: 20px;
  font-size: 1.5rem;

  .container {
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;

    div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    div:last-child {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 2rem;
      transform: translateY(50%);
    }
  }
}
