.header {
  background-color: var(--primary-600);
  color: var(--surface);
  padding-top: 20px;
 
  h1 {
    font-size: 1.8rem;
    text-decoration: underline;
  }

  .container {
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;

    div:first-child {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5px;
    }

    div:last-child {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 2rem;
      transform: translateY(50%);
    }
  }
}
