.stats_card {
  background-color: var(--primary);
  color: var(--surface);
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  flex: 1 1 30%;
  min-width: 50px;

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
  }

  span {
    font-size: 4rem;
    line-height: 1;
  }
}

@media screen and (max-width: 500px) {
  .stats_card {
    h2 {
      font-size: 0.75rem;
    }
    span {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .stats_card {
    h2 {
      font-size: 0.5rem;
      margin-left: -8px;
    }

    span {
      font-size: 2rem;
    }
  }
}
